:root {
  --font-primary-color: #293264;
  --btn-primary-color: #4d5b9e;
  --btn-font-primary-color: #f5f7fb;
}

body {
  position: relative;
  max-width: 1280px;
  padding: 2rem;
  font-family: "Karla", sans-serif;
  background-color: #f5f7fb;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2rem);
}

h1 {
  color: var(--font-primary-color);
}

button {
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

button.primary {
  background-color: var(--btn-primary-color);
  color: var(--btn-font-primary-color);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  height: 281px;
  width: 316px;
  background-image: url(../src/assets/blob_yellow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  height: 236px;
  width: 296px;
  background-image: url(../src/assets/blob_blue.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: -1;
}

#start button.primary {
  margin-top: 1.75em;
  padding: 1em 1.75rem;
}

#start {
  text-align: center;
}
